<div class="container">
	<div class="">
		<div >
			<div>
				<h3>Tu sesión fue cerrada correctamente.</h3></div>
			<br>
			<div class="social-login">
                <p><a href="/login">Iniciar sesión aquí</a></p>
				<p><a href="/register">Registrarse</a></p>
			</div>
		</div>	
	</div>
</div>
<script src="/js/login.js"></script>