<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="register" id="registerForm">
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" name="first_name" placeholder="Nombre" required>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" name="last_name" placeholder="Apellidos" required>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" class="login__input" name="email" placeholder="Correo" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="number" class="login__input" value="18" name="age" min="18" max="60" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Contraseña" required>
				</div>
				<button class="button login__submit">
					<span class="button__text">Registrarse</span>		
				</button>
                			
			</form>
			<div class="social-login">
                <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<script src="/js/register.js"></script