<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" id="resetForm">
				<h4>Resetear contraseña</h4>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Nueva Contraseña" required>
				</div>
				<button class="button login__submit">
					<span class="button__text">Resetear</span>		
				</button>
                			
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<script src="/js/resetlink.js"></script>